/* You can add global styles to this file, and also import other style files */

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-40 {
    margin-top: 40px;
}

.width-150 {
    width: 150px;
}